{% extends "base.html" %}

{% block title %}
    DeviceHub - Registrierung
{% endblock %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-md-6 col-lg-5">

        <div class="card p-4">

            <h2 class="mb-4">
                Registrierung
            </h2>

            <form method="POST">

                <input
                    type="hidden"
                    name="csrf_token"
                    value="{{ csrf_token() }}"
                >


                <div class="mb-3">

                    <label
                        for="username"
                        class="form-label"
                    >
                        Benutzername
                    </label>

                    <input
                        type="text"
                        class="form-control"
                        id="username"
                        name="username"
                        required
                    >

                </div>


                <div class="mb-3">

                    <label
                        for="email"
                        class="form-label"
                    >
                        E-Mail-Adresse
                    </label>

                    <input
                        type="email"
                        class="form-control"
                        id="email"
                        name="email"
                        required
                    >

                </div>


                <div class="mb-3">

                    <label
                        for="password"
                        class="form-label"
                    >
                        Passwort
                    </label>

                    <input
                        type="password"
                        class="form-control"
                        id="password"
                        name="password"
                        required
                    >

                </div>


                <button
                    type="submit"
                    class="btn btn-primary w-100"
                >
                    Registrieren
                </button>

            </form>


            <hr>


            <p class="text-center mb-0">

                Bereits registriert?

                <a href="{{ url_for('login') }}">
                    Zur Anmeldung
                </a>

            </p>

        </div>

    </div>

</div>

{% endblock %}